<html>
    <head>
        <title>Portal Login | Portal Akihabara</title>
        
        <link rel="icon" href="../sistem/public/img/akiba-store-logo_ico.png" type="image/icon-img">
        <link rel="stylesheet" href="../sistem/public/css/style-login-portal.css">
    </head>
    <body>
        <div class="container">
            <div class="register-layout">
                <div class="cover">
                    <h2>SYARAT DAN KETENTUAN</h2> 
                    <div class="term-border">
                        <h3>PERSYARATAN MENJADI ANGGOTA AKIHARABA</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, culpa. Delectus inventore facilis, incidunt, officia eum recusandae magnam quo vel voluptate hic architecto magni aspernatur laudantium distinctio. Unde, quas et vel voluptates qui inventore. Excepturi repudiandae perferendis dignissimos alias laborum magnam delectus quam veniam vitae impedit consequatur obcaecati nesciunt similique necessitatibus explicabo ullam dolore autem, minima iusto, deleniti provident magni sed fuga illo. Nesciunt, dolor consequuntur fugit deserunt velit asperiores quae dolorem provident? Fugiat suscipit deleniti necessitatibus ducimus obcaecati molestias architecto iste, officia dolorem, dolor corporis sit hic sequi commodi odio laudantium veritatis assumenda accusamus quis dicta quia. Accusantium, molestiae!</p>
                        <hr>
                        <h3>KETENTUAN TIAP PENGGUNA SISTEM PORTAL</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis illo nobis maxime, dolores animi voluptatem repudiandae eveniet ipsa provident nulla eaque veniam numquam reprehenderit fuga totam consequuntur placeat deleniti perspiciatis officiis! Suscipit obcaecati eius vitae itaque unde? Quod fugit repellat assumenda, eos tenetur beatae quidem quia vitae est reiciendis temporibus nihil illum eius voluptatem nobis ab error incidunt nostrum aspernatur doloremque vero? Iusto, soluta! Aspernatur quae sed eveniet error earum dolor atque nulla tenetur aliquam! Corporis, dolorum non. Amet, quasi.</p>
                        <hr>
                        <h3>AKHIR KATA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptatem, dicta ducimus, repellendus quis adipisci incidunt vitae maiores magnam omnis ad cum qui voluptatum et! Provident earum voluptas dicta laboriosam nemo, quasi nam ex aliquam voluptatum mollitia in minima esse vel rerum molestias quis ab praesentium, expedita omnis tempore. Cupiditate.</p>
                    </div>
                    
                    <button class="btn"><a href="login-portal.php">Kembali ke login</a></button>
                    <!-- <button class="btn register-peg" style="float: right;"><a href="../" target="_blank">Syarat dan Ketentuan ></a></button> -->
                </div>
            </div>
        </div>
    </body>
</html>